main, body, div, span,
h1, h2, h3, a, img, form, footer, header,  
menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: rgb(214, 215, 216);
}

.main{
    margin:5px;
    height: 600px;
    background-image: url(./img-yoga/yogareinando-isolada.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main{
    display: flex;
}
.container-text{
    margin-top: 40%;
    margin-left: 30%;
    background-color: white;
    height: 100px;
    width: 600px;
    font-size: 42px;
    justify-content:flex-end;
    align-items: flex-end;
}

.asanas{
    margin-top: 130px;
}

.titulo{
    font-size:42px ;
    margin: 20px;
}

.container-asanas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.container-asanas img{
    height: 200px;
    width: 300px;
    cursor: pointer;
}
.container-asanas h2{
    font-size: 23px;
}
.titulo-video{
    font-size:42px ;
    margin-left: 20px;
}

.container-video{
    display: grid;
     grid-template-columns:  1fr 1fr;
    
}

.container-video video{
    margin: 50px;
    height: 600px;
    width: 700px;
}

.container-video p {
    margin-top: 110px;
    font-size: 28px;
    position: relative;
  }
  
  .container-video p::before {
    content: ' ';
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -1;
  }

  .container-shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;    
}

.container-shop img{
    cursor: pointer;
    height: 180px;
    width: 280px;
  }

  .container-shop span{
    background-color: green;
    border-radius: 2px;

  }