main, body, div, span,
h1, h2, h3, a, img, form, footer, header,  
menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main{
    margin:5px;
    height: 600px;
    background-image: url(./img-yoga/yogareinando-isolada.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main{
    display: flex;
}
.container-text{
    margin-top: 40%;
    margin-left: 30%;
    background-color: white;
    height: 100px;
    width: 600px;
    font-size: 42px;
    justify-content:flex-end;
    align-items: flex-end;
    

}
