@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

main, body, div, span,
h1, h2, h3, a, img, form, footer, header,  
menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: rgb(214, 215, 216);
}

.main{
    margin:5px;
    height: 600px;
    background-image: url(./img-yoga/yogareinando-isolada.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main{
    display: flex;
}
.container-text{
    margin-top: 40%;
    margin-left: 30%;
    background-color: white;
    height: 100px;
    width: 600px;
    font-size: 42px;
    justify-content:flex-end;
    align-items: flex-end;
}

.asanas{
    margin-top: 130px;
}

.titulo{
    font-size:42px ;
    margin: 20px;
}

.container-asanas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.container-asanas img{
    height: 200px;
    width: 300px;
    cursor: pointer;
}
.container-asanas h2{
    font-size: 23px;
}
.titulo-video{
    font-size:42px ;
    margin-left: 20px;
}

.container-video{
    display: grid;
     grid-template-columns:  1fr 1fr;
    
}

.container-video video{
    margin: 50px;
    height: 600px;
    width: 700px;
}

.container-video p {
    margin-top: 110px;
    font-size: 26px;
    font-family: 'Indie Flower', cursive;
    position: relative;
  }
  
  .container-video p::before {
    content: ' ';
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -1;
  }

  .container-shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;    
}

.container-shop img{
    cursor: pointer;
    height: 180px;
    width: 280px;
  }

  .container-shop span{
    background-color: green;
    border-radius: 2px;

  }

  .aulas{
      display: flex;
    margin:5px;
    height: 500px;
    background-image: url(./img-yoga/bg-aula.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .aulas-h1{
    font-size: 36px;
    color: azure;
    font-family: 'Indie Flower', cursive;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-left: 10%;
  }

  .section-befeficios{
    background-color:green ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    color: white;
  }

  .section-befeficios div{
    margin: 20px;
  }

  .section-befeficios img{
    display: inline-block;
  }

  .section-befeficios h1{
    display: inline-block;
    font-size: 22px;
  }

  .footer{
    background-color: rgb(179, 181, 182);

  }

  .contatos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
  }

  .contatos li{
    margin: 8px;
    list-style: none;
    cursor: pointer;
    font-size:22px ;
  }

  .redes{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
  }
  .redes img{
    height: 50px;
    cursor: pointer;
  }

  .copy{
    font-size: 22px;
    background-color: black;
  }

  .copy h1{
    margin-left: 40%;
    color: white;
  }

  [data-semana]::after{
    display: inline-block;
    content: '';
    height: 8px;
    width: 8px;
    background: red;
    margin-left: 5px;
    border: 2px solid #000;
  }

  [data-semana].aberto::after{
    background: green;

  }



  
    
  @media(max-width:900px){
   
    .main{
      display: flex;
    height: 500px;
    
}
.container-text{
    margin-top: 30%;
    margin-left: 20%;
    font-size: 36px;
}

.asanas{
  margin-top: 100px;
}

.titulo{
  font-size:28px ;
  margin: 10px;
}

.container-asanas{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: 20px;
}

.container-asanas img{
  height: 200px;
  width: 300px;
  cursor: pointer;
}
.container-asanas h2{
  font-size: 23px;
}

.titulo-video{
  font-size:42px ;
  margin-left: 20px;
}

.container-video{
  display: grid;
   grid-template-columns:  1fr ;
  
}

.container-video video{
  margin: 50px;
  height: 400px;
  width: 500px;
}

.container-video p {
  margin: 20px;
  margin-top: 20px;
  font-size: 18px;
}

.container-shop{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 35px;    
}

.container-shop img{
  cursor: pointer;
  height: 140px;
  width: 240px;
}

.aulas{
  display: flex;
  
}

.aulas-h1{
font-size: 30px;
color: rgb(126, 136, 136);

}

.section-befeficios{
  background-color:green ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 280px;
  color: white;
}

.section-befeficios div{
  margin: 15px;
}

.section-befeficios h1{
  display: inline-block;
  font-size: 18px;
}
  }

  @media(max-width:480px){
 
    .main{
      display: flex;
      width: 480px;

      
    }
    .container-text{
      margin-top: 60%;
      margin-left:40px;
      width:  70%;
      height: 15%;
    }
    
    .container-text h1{
    font-size: 22px;

  }


.container-asanas{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 20px;
    margin-left: 60px;
}

.container-asanas img{
    height: 200px;
    width: 280px;
    cursor: pointer;
}
.container-asanas h2{
    font-size: 23px;
}

.titulo-video{
  font-size:32px ;
  margin-left: 20px;
}

.container-video{
  display: grid;
  grid-template-columns:  1fr ;
  margin-left: 10%;
  
}

.container-video video{
  width: 80%;
  margin: 20px;
  height: 280px;
}

.p-videos{
  width: 400px;
}

.container-shop{
  display: grid;
  grid-template-columns: 1fr ;
  margin-left: 50px;
  margin: 40px;    
}

.container-shop img{
  height: 140px;
  width: 240px;
}

.aulas{
  width: 480px;
}

.aulas-h1{
  font-size: 28px;
  color: rgb(126, 136, 136);
  
  }
  
  .section-befeficios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 480px;
    height: 280px;
    color: white;
  }
  
  .section-befeficios div{
    margin: 15px;
  }
  
  .section-befeficios h1{
    display: inline-block;
    font-size: 18px;
  }

  .footer{
    width: 480px;
  }

  .contatos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
  }

  .contatos li{
    margin: 12px;
  }
  }